<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>I am a dedicated career-changer transitioning into the world of Cybersecurity after 6 years in the education industry. I recently completed my training with Merit America, which involved 5 months of intensive professional development, completion of the Google Cybersecurity Professional Certificate, and several hands-on technical projects.</p>
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, SQL (BigQuery, MySQL, MSSQL), HTML<br>
              <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (WireShark, Tcpdump, Nmap), IDS/IPS (Suricata), DAST (Burp Suite, Nessus)<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis (IDS/IPS), Log Analysis, Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Google Workspace, Microsoft Suite, Teams, Slack, ChatGPT, McAfee <br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure <br></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.youtube.com/watch?v=2qBlE2-WL60" class="btn btn-lg btn-outline">
          View Resume
        </a>
      </div>
    </div>
  </div>
</section>
